*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: poppinsregular;
    
}
@font-face {
    font-family: poppinsregular;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
header{
    background-color: grey;
}
.container{
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    gap: 2vw;
}
.links a{
   display: flex;
    color: black;
    transition: all 0.5s linear;
}
.links a:hover{
    color: orangered;
}
.registerbutton{
    display: none;
}
.products .container img{
    width: 450px;
}
nav{
    padding-top:2vh ;
}
.products .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2vw;
    text-align: center;
}
.products h2{
    font-size: 3em;
    color: rgb(255, 140, 0);
    font-weight: 100;
}
.products h3{
    font-size: 2em;

}
.rent a{
    width: 13vw;
    padding: 1vw;
    border-radius: 15px;
    background-color: orange;
    color: white;
    margin-top: 2vh;
    display: inline-block;
    transition: all 0.5s linear;
}
.rent a:hover{
    transform: scale(1.1);
    background-color: white;
    color: orange;
}
.products h4{
    font-size: 2em;
}
section{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap:2px;
    text-align: center;
}
.box{
    position: relative;
}
.box img{
    width: 100%;
    display: block;
}
.box h2{
    position: absolute;
    bottom: 0;
    color: white;
    left: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    margin: 0;
    padding: 5px 0;
    font-size: 1rem;
}
.info{
    display: grid;
    margin: 0 auto;
    padding: 2vw;
    width: fit-content;
    margin-top: 2vh;
    gap: 2vw;
    grid-template-columns: repeat(2,1fr);
}
.info h2{
    font-size: 2em;
    border-bottom: 1px solid orangered;
    color: gray;
}
.info p{
    color: gray;
    margin-top: 1vh;
    line-height: 3.5vh;
}
.info .infoimg img{
    width: 100%;
    border-radius: 15px;
}
.info a{
    border: 2px solid orange;
    border-radius: 20px;
    color: orange;
    padding: 1vw;
    display: inline-block;
    margin-top: 3vh;
    font-size: 1.5em;
    transition: all 0.5s linear;
}
.info a:hover{
    transform: scale(1.1);
    background-color: orange;
    color: white;
}
.experience{
    display: grid;
    padding: 2vw;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 2vw;
}
.years{
    background-image: radial-gradient(grey,black);
    border-radius: 15px;
    font-size: 2em;
    padding: 2vw;
    height: 40vh;
    width: 30vw;
    color: white;
}
.years h2{
    margin-top: 7vh;
}
.caramount{
    background-image: radial-gradient(grey,black);
    border-radius: 15px;
    font-size: 2em;
    height: 40vh;
    width: 30vw;
    color: white;
}
.caramount h2{
    margin-top: 9vh;
}
.customerservice{
    background-image: radial-gradient(grey,black);
    border-radius: 15px;
    font-size: 2em;
    color: white;
}
.customerservice h2{
    margin-top: 9vh;
}
.customerservice p{
    font-size: 0.8em;
}
.cars{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: auto;
    width: 90%;
    gap: 2vw;
}
.cars a{
    transition: all 0.5s linear;
}
.cars a:hover{
    transform: scale(1.1);
    background-color: white;
    color: orange;
}
.cars img{
    width: 100%;
    border-radius: 15px;
    
}
.hyundaiaccent{
    box-shadow: 0 0 10px gray;
    border-radius: 15px;
}
.hyundaiaccent h2,p,h3{
    padding-left: 1vw;
}
.hyundaiaccent h2{
    font-weight: 900;
}
.hyundaiaccent h3{
    font-size: 1.5em;
    color: orange;
}
.hyundaiaccent a{
    border: 1px solid orange;
    display: inline-block;
    width: 90%;
    border-radius: 15px;
    color: white;
    background-color: orange;
    text-align: center;
    padding: 1vw;
    margin: 1vw;
}
.Kiacerato{
     box-shadow: 0 0 10px gray;
    border-radius: 15px;
}
.Kiacerato h2,p,h3{
    padding-left: 1vw;
}
.Kiacerato h2{
    font-weight: 900;
}
.Kiacerato h3{
    font-size: 1.5em;
    color: orange;
}
.Kiacerato a{
     border: 1px solid orange;
    display: inline-block;
    width: 90%;
    border-radius: 15px;
    color: white;
    background-color: orange;
    text-align: center;
    padding: 1vw;
    margin: 1vw;
}
.hyundaia21{
     box-shadow: 0 0 10px gray;
    border-radius: 15px;
}
.hyundaia21 h2,p,h3{
     padding-left: 1vw;
}
.hyundaia21 h2{
    font-weight: 900;
}
.hyundaia21 h3{
     font-size: 1.5em;
    color: orange;
}
.hyundaia21 a{
      border: 1px solid orange;
    display: inline-block;
    width: 90%;
    border-radius: 15px;
    color: white;
    background-color: orange;
    text-align: center;
    padding: 1vw;
    margin: 1vw;
}
.nissansunny{
     box-shadow: 0 0 10px gray;
    border-radius: 15px;
}
.nissansunny h2,p,h3{
     padding-left: 1vw;
}
.nissansunny h2{
    font-weight: 900;
}
.nissansunny h3{
     font-size: 1.5em;
    color: orange;
}
.nissansunny a{
     border: 1px solid orange;
    display: inline-block;
    width: 90%;
    border-radius: 15px;
    color: white;
    background-color: orange;
    text-align: center;
    padding: 1vw;
    margin: 1vw;
}
.formpart{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3vw;
    width: 90vw;
    border-radius: 15px;
    margin: 5vh auto;
    padding: 2vw;
}
.formpart  h2{
    padding-left: 1vw;
}
.formit h2{
    font-size: 3em;
}
.formit p{
    font-size: 2em;
}
.twoform form input{
    color: white;
    margin-left: 1vw;
    font-weight: 300;
    margin-top: 3vh;
    font-size: 1em;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
}
::placeholder{
    color: white;
}
button{
    background-color: orangered;
    padding: 1vw;
    font-size: 1em;
    margin-left: 1vw;
    margin-top: 2vh;
    border: none;
    border-radius: 15px;
    color: white;
}
.formimg img{
    width: 100%;
}


@media (max-width:1200px) {
      nav .container a img{
        width: 20vw;
    }
     nav .container .links{
        
        font-size: 13px;
        gap: 1.5vw;
    }
   
    .products .container{
        grid-template-columns: repeat(2,1fr);
        padding-bottom: 3vh;
    }
    .products .container h2{
        font-size: 2.5em;
        width: fit-content;
    }
    .products .container img{
        width: 40vw;
    }
    .products .container h3{
        font-size: 2em;
    }
    .products .container a{
        font-size: 1em;
        width: 30vw;
    }
    .products .container h4{
        font-size: 2.5em;
    }
      .formpart{
    grid-template-columns: repeat(2,1fr);
    font-size: 0.7em;
}
}
@media (max-width:992px){
      nav .container a img{
        width: 20vw;
    }
     nav .container .links{
        display: none;
    }
    nav .registerbutton{
        display:  block;
    }
    .products .container{
        grid-template-columns: repeat(2,1fr);
        padding-bottom: 3vh;
    }
    .products .container h2{
        font-size: 2.5em;
        width: fit-content;
    }
    .products .container img{
        width: 40vw;
    }
    .products .container h3{
        font-size: 2em;
    }
    .products .container a{
        font-size: 1em;
        width: 30vw;
    }
    .products .container h4{
        font-size: 3em;
    }
    section{
        display: none;
    }
     .info{
        grid-template-columns: repeat(2,1fr);
        text-align: center;
    }
    .info a{
        font-size: 0.7em;
    }
    .info p{
        font-size: 0.6em;
        list-style: none;
    }
    
    .cars{
        font-size: 0.5em;
    }
    .formpart{
    grid-template-columns: repeat(2,1fr);
    font-size: 0.7em;
}

}
@media (max-width:768px){
     nav .container a img{
        width: 20vw;
    }
     nav .container .links{
        display: none;
    }
    nav .registerbutton{
        display:  block;
    }
    .products .container{
        grid-template-columns: repeat(2,1fr);
        padding-bottom: 3vh;
    }
    .products .container h2{
        font-size: 2.5em;
        width: fit-content;
    }
    .products .container img{
        width: 40vw;
    }
    .products .container h3{
        font-size: 2em;
    }
    .products .container a{
        font-size: 1em;
        width: 30vw;
    }
    .products .container h4{
        font-size: 3em;
    }
    section{
        display: none;
    }
     .info{
        grid-template-columns: repeat(2,1fr);
        text-align: center;
    }
    .info a{
        font-size: 0.7em;
    }
    .info p{
        font-size: 0.8em;
        list-style: none;
    }
    .info h2{
        font-size: 1em;
    }
       .experience{
    display: grid;
    padding: 2vw;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 2vw;
    }

    .years{
    background-image: radial-gradient(grey,black);
    border-radius: 15px;
    font-size: 0.5em;
    padding: 2vw;
    height: 10vh;
    width: 30vw;
    color: white;
}
.years h2{
    margin-top: 1vh;
}
.caramount{
    background-image: radial-gradient(grey,black);
    border-radius: 15px;
    font-size: 0.5em;
    height: 10vh;
    width: 30vw;
    color: white;
}
.caramount h2{
    margin-top: 2vh;
}
.customerservice{
    background-image: radial-gradient(grey,black);
    border-radius: 15px;
    font-size: 0.5em;
    height: 10vh;
    color: white;
}
.customerservice h2{
    margin-top: 2vh;
}
.customerservice p{
    font-size: 0.8em;
}
    .cars{
        font-size: 0.5em;
    }
    .formpart{
    grid-template-columns: repeat(2,1fr);
    font-size: 0.5em;
}
}
@media (max-width:715px){
     nav .container a img{
        width: 20vw;
    }
      nav .container .links{
        display: none;
    }
    nav .registerbutton{
        display:  block;
    }
     .products .container{
        grid-template-columns: repeat(2,1fr);
        padding-bottom: 3vh;
    }
    .products .container h2{
        font-size: 2em;
        width: 31vw;
    }
    .products .container img{
        width: 55vw;
    }
    .products .container h3{
        font-size: 1.5em;
    }
    .products .container a{
        font-size: 1em;
        width: 30vw;
    }
    .products .container h4{
        font-size: 1.5em;
    }
    section{
        display: none;
    }
     .info{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .info a{
        font-size: 1em;
    }
       .experience{
    display: grid;
    padding: 2vw;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 2vw;
    }

    .years{
    background-image: radial-gradient(grey,black);
    border-radius: 15px;
    font-size: 0.5em;
    padding: 2vw;
    height: 10vh;
    width: 30vw;
    color: white;
}
.years h2{
    margin-top: 1vh;
}
.caramount{
    background-image: radial-gradient(grey,black);
    border-radius: 15px;
    font-size: 0.5em;
    height: 10vh;
    width: 30vw;
    color: white;
}
.caramount h2{
    margin-top: 2vh;
}
.customerservice{
    background-image: radial-gradient(grey,black);
    border-radius: 15px;
    font-size: 0.5em;
    height: 10vh;
    color: white;
}
.customerservice h2{
    margin-top: 2vh;
}
.customerservice p{
    font-size: 0.8em;
}
    .cars{
        font-size: 0.5em;
    }
    .formpart{
    grid-template-columns: repeat(2,1fr);
    font-size: 0.5em;
}
}
@media (max-width:580px){
     nav .container a img{
        width: 25vw;
    }
      nav .container .links{
        display: none;
    }
    nav .registerbutton{
        display:  block;
    }
     .products .container{
        grid-template-columns: repeat(2,1fr);
        padding-bottom: 3vh;
    }
    .products .container h2{
        font-size: 2em;
        width: 31vw;
    }
    .products .container img{
        width: 55vw;
    }
    .products .container h3{
        font-size: 1.2em;
    }
    .products .container a{
        font-size: 1em;
        width: 30vw;
    }
    .products .container h4{
        font-size: 1.5em;
    }
    section{
        display: none;
    }

     .info{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .info a{
        font-size: 1em;
    }
       .experience{
    display: grid;
    padding: 2vw;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 2vw;
    }

    .years{
    background-image: radial-gradient(grey,black);
    border-radius: 15px;
    font-size: 0.5em;
    padding: 2vw;
    height: 10vh;
    width: 30vw;
    color: white;
}
.years h2{
    margin-top: 1vh;
}
.caramount{
    background-image: radial-gradient(grey,black);
    border-radius: 15px;
    font-size: 0.5em;
    height: 10vh;
    width: 30vw;
    color: white;
}
.caramount h2{
    margin-top: 2vh;
}
.customerservice{
    background-image: radial-gradient(grey,black);
    border-radius: 15px;
    font-size: 0.5em;
    height: 10vh;
    color: white;
}
.customerservice h2{
    margin-top: 2vh;
}
.customerservice p{
    font-size: 0.8em;
}
 .cars{
        font-size: 0.5em;
    }
    .formpart{
    grid-template-columns: repeat(2,1fr);
    font-size: 0.5em;
}
}
@media (max-width:426px){
     nav .container a img{
        width: 25vw;
    }
      nav .container .links{
        display: none;
    }
    nav .registerbutton{
        display:  block;
    }
     .products .container{
        grid-template-columns: repeat(2,1fr);
        padding-bottom: 3vh;
    }
    .products .container h2{
        font-size: 1.2em;
        width: 31vw;
    }
    .products .container img{
        width: 55vw;
    }
    .products .container h3{
        font-size: 1em;
    }
    .products .container a{
        font-size: 0.8em;
        width: 30vw;
    }
    .products .container h4{
        font-size: 1.5em;
    }
    section{
        display: none;
    }
     .info{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .info a{
        font-size: 1em;
    }
     .experience{
    display: grid;
    padding: 2vw;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 2vw;
    }

    .years{
    background-image: radial-gradient(grey,black);
    border-radius: 15px;
    font-size: 0.5em;
    padding: 2vw;
    height: 10vh;
    width: 30vw;
    color: white;
}
.years h2{
    margin-top: 1vh;
}
.caramount{
    background-image: radial-gradient(grey,black);
    border-radius: 15px;
    font-size: 0.5em;
    height: 10vh;
    width: 30vw;
    color: white;
}
.caramount h2{
    margin-top: 2vh;
}
.customerservice{
    background-image: radial-gradient(grey,black);
    border-radius: 15px;
    font-size: 0.5em;
    height: 10vh;
    color: white;
}
.customerservice h2{
    margin-top: 2vh;
}
.customerservice p{
    font-size: 0.8em;
}
.cars{
    grid-template-columns: repeat(2,1fr);
    font-size: 0.5em;
}
.cars a{
    width: 90%;
    margin-left: 2vw;
    padding-left: 3vw;
}
.formpart{
    grid-template-columns: 1fr;
    font-size: 0.5em;
}
.twoform form input{
    width: 30vw;
    font-size: 1.5em;
}
}
@media(max-width:376px){
    nav .container a img{
        width: 25vw;
    }
    nav .container .links{
        display: none;
    }
    nav .registerbutton{
        display:  block;
    }
    .products .container{
        grid-template-columns: repeat(2,1fr);
        padding-bottom: 3vh;
    }
    .products .container h2{
        font-size: 1em;
        width: fit-content;
    }
    .products .container img{
        width: 40vw;
    }
    .products .container h3{
        font-size: 1em;
    }
    .products .container a{
        font-size: 0.8em;
        width: 30vw;
    }
    .products .container h4{
        font-size: 1em;
    }
    section{
        display: none;
    }
     .info{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .info a{
        font-size: 1em;
    }
     .experience{
    display: grid;
    padding: 2vw;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 2vw;
}
.years{
    background-image: radial-gradient(grey,black);
    border-radius: 15px;
    font-size: 0.5em;
    padding: 2vw;
    height: 10vh;
    width: 30vw;
    color: white;
}
.years h2{
    margin-top: 1vh;
}
.caramount{
    background-image: radial-gradient(grey,black);
    border-radius: 15px;
    font-size: 0.5em;
    height: 10vh;
    width: 30vw;
    color: white;
}
.caramount h2{
    margin-top: 2vh;
}
.customerservice{
    background-image: radial-gradient(grey,black);
    border-radius: 15px;
    font-size: 0.5em;
    height: 10vh;
    color: white;
}
.customerservice h2{
    margin-top: 2vh;
}
.customerservice p{
    font-size: 0.8em;
}
.cars{
    grid-template-columns: repeat(2,1fr);
    font-size: 0.5em;
}
.cars a{
    width: 90%;
    margin-left: 2vw;
    padding-left: 3vw;
}
.formpart{
    grid-template-columns: 1fr;
    font-size: 0.5em;
}
}
@media (max-width:320px){
    nav .container a img{
        width: 30vw;
    }
    nav .container .links{
        display: none;
    }
    nav .container .registerbutton{
        display: block;
    }
    .products .container{
        grid-template-columns: repeat(2,1fr);
        padding-bottom: 3vh;
    }
    .products .container h2{
        font-size: 1em;
        width: fit-content;
    }
    .products .container img{
        width: 40vw;
    }
    .products .container h3{
        font-size: 1em;
    }
    .products .container a{
        font-size: 0.8em;
        width: 30vw;
    }
    .products .container h4{
        font-size: 1em;
    }
    section{
        display: none;
    }
    .info{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .info a{
        font-size: 1em;
    }
    .experience{
    display: grid;
    padding: 2vw;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 2vw;
}
.years{
    background-image: radial-gradient(grey,black);
    border-radius: 15px;
    font-size: 0.5em;
    padding: 2vw;
    height: 10vh;
    width: 30vw;
    color: white;
}
.years h2{
    margin-top: 1vh;
}
.caramount{
    background-image: radial-gradient(grey,black);
    border-radius: 15px;
    font-size: 0.5em;
    height: 10vh;
    width: 30vw;
    color: white;
}
.caramount h2{
    margin-top: 2vh;
}
.customerservice{
    background-image: radial-gradient(grey,black);
    border-radius: 15px;
    font-size: 0.5em;
    height: 10vh;
    color: white;
}
.customerservice h2{
    margin-top: 2vh;
}
.customerservice p{
    font-size: 0.8em;
}
.cars{
    grid-template-columns: 1fr;
}
.formpart{
    grid-template-columns: 1fr;
    font-size: 0.5em;
}
}